<div class="modal fade" id="popupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding: 5px;">


        <h5 class="modal-title" id="exampleModalLabel">{{ popupHeader }}</h5>


        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearTheForm()"></button>
      </div>
      <div class="modal-body" style="padding: 10px;">
        <form>
          <div class="mb-2" style="margin-bottom: 0;">
            <label style="padding-top: 0; padding-bottom: 3px;" for="recipient-code" class="col-form-label">Code:</label>
            <input type="text" class="form-control" id="recipient-code" style="padding: 3px;" [(ngModel)]="codeTerm" name="code">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" style="padding: 3px;" [(ngModel)]="nameTerm" name="name">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="contact-person" class="col-form-label">Contact Person:</label>
            <input type="text" class="form-control" id="contact-person" style="padding: 3px;" [(ngModel)]="contactPersonTerm" name="contactPerson">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-mobile" class="col-form-label">Mobile:</label>
            <input type="text" class="form-control" id="recipient-mobile" style="padding: 3px;" [(ngModel)]="mobileTerm" name="recipientMobile">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-email" style="padding: 3px;" [(ngModel)]="emailTerm" name="recipientEmail">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-address" class="col-form-label">Address:</label>
            <input type="text" class="form-control" id="recipient-address" style="padding: 3px;" [(ngModel)]="addressTerm" name="recipientAddress">
          </div>
          <!--          <div class="mb-3">-->
          <!--            <label for="message-text" class="col-form-label">Message:</label>-->
          <!--            <textarea class="form-control" id="message-text"></textarea>-->
          <!--          </div>-->
        </form>
      </div>
      <div class="modal-footer" style="padding: 5px;">
        <p style="color: #03C988; font-size: 15px; margin-left: 0;" [ngStyle]="{color:textColor}">{{showAfterCreated}}</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearTheForm()">Close</button>
        <button type="button" class="btn btn-primary"  (click)="saveData()">Save</button>
      </div>
    </div>
  </div>
</div>

