.create-user{
  color: #fff;

}

.createUser{
  /*margin-left: 15px;*/
  display: flex;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*margin-top: 5px;*/
}

.createUserBackground{
  /*background-color: #03C988;*/
  position: relative;

}
