<app-logged-in-top-bar></app-logged-in-top-bar>
<div class="sidebar">

  <div class="sidebar-header">
      <h3 class="software-name" style="margin-top: 20px;">Easy Stocks</h3>
  </div>

  <div class="nav-content">
    <ul>
      <hr/>
      <li class="nav-button"><a routerLink="/dashboard">Dashboard</a></li>
      <hr/>

      <div (click)="toggleMasterCollapse()" class="drop-down-icon-style">
       <li class="drop-down-icon-style"><a routerLink="/reports">Master</a></li>
        <fa-icon [icon]="isMasterCollapsed ? faAngleDown : faAngleUp" style="color: #8392a5; padding-right: 10px;"></fa-icon>
      </div>
      <div [class.collapseBar]="isMasterCollapsed">
        <ul>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/admin/masterCustomer">Customer</a></li>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/admin/masterSupplier">Supplier</a></li>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/admin/product">Product</a></li>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/admin/productCategory">Product Category</a></li>
      </ul>
      </div>
      <hr/>
      <div (click)="toggleTransactionCollapse()">
        <div class="drop-down-icon-style">
        <li class="drop-down-icon-style"><a routerLink="/reports">Transaction</a></li>
        <fa-icon [icon]="isTransactionCollapsed ? faAngleDown : faAngleUp" style="color: #8392a5; padding-right: 10px;"></fa-icon>
        </div>
      </div>
      <div [class.collapseBar]="isTransactionCollapsed">
        <ul>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/toDoList">GRN</a></li>
          <hr class="child-hr-style">
          <li class="second-content"><a routerLink="/toDoList">GIN</a></li>
        </ul>
      </div>
      <hr/>
    </ul>

  </div>
</div>
<router-outlet></router-outlet>
