<div class="top-bar">
  <div class="left">
    <span class="company-name">Nikro Management Services</span>
  </div>

  <!-- User profile section -->
<!--  <div class="create-user">-->
<!--&lt;!&ndash;    <fa-icon [icon]="faUserPlus" style="color: #fff; padding-right: 10px;"></fa-icon>&ndash;&gt;-->
<!--  </div>-->
  <div class="user-profile">
<!--    <fa-icon [icon]="faUserPlus" class="create-user"></fa-icon>-->
    <img src="assets/user.jpg" alt="User Image" class="user-image">
    <div class="user-details">
      <p class="user-name">Yasiru Munasinghe</p>
      <p class="user-role">Administrator</p>
    </div>
  </div>
</div>
