.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  width: 40px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px;
}

.app-name {
  font-size: 18px;
}

.right button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right button:hover {
  background-color: #ff7539;
}
