<div class="main-container">
  <div class="dummy-top-bar">

  </div>

  <h3 style="padding-bottom: 20px; padding-top: 20px;">Supplier</h3>
  <div class="generate-report-bar">
    <p>Generate Report</p>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Excel</button>
      <button type="button" class="btn btn-outline-primary" (click)="makePDF()">PDF</button>
    </div>
  </div>
  <div class="create-new-and-search-bars">
    <div class="create-new-bar">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#popupModal" >Create Supplier</button>

    </div>
    <div class="search-customer">
      <p>Search</p>
      <div class="input-group input-group-sm mb-3">
        <!--        <input type="text" class="form-control" placeholder="Code" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->
        <input
          type="text" class="form-control" placeholder="Supplier Name" aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="SearchTerm"
          (input)="searchSupplier()"
        />
        <!--        <button type="button" class="btn btn-primary">Enter</button>-->
      </div>
    </div>
  </div>
</div>

<div class="show-customer-table">
  <table class="table" style="font-size: 15px;" id="supplier-table" #supplier_table>
    <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <!--      <th scope="col">Address</th>-->
<!--      <th scope="col"> </th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supplier of suppliersSecond">
      <td>{{supplier.supplierCode}}</td>
      <td>{{supplier.supplierName}}</td>
      <td>{{supplier.supplierContactPerson}}</td>
      <td>{{supplier.supplierMobile}}</td>
      <td>{{supplier.supplierEmail}}</td>
      <!--      <td>{{customer.customerAddress}}</td>-->
<!--      <td>{{supplier.supplierAddress}}</td>-->
    </tr>
    </tbody>
  </table>
</div>
<app-popup-create-new [popupHeader]="supplierMainButtonText" [checkSupplierHeader]="supplierMainButtonText"></app-popup-create-new>
