<!--<h2>Search Item</h2>-->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="search()"
      placeholder="Search..."
      class="search-input"
    />
    <button (click)="search()" class="search-button">Search</button>
  </div>


  <div *ngIf="searchResults.length > 0" class="results-container">
    <p>Display search results</p>
    <ul class="results-list">
      <li *ngFor="let result of searchResults" class="result-item">{{ result }}</li>
    </ul>
  </div>

