<div class="modal fade" id="popupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding: 5px;">


        <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearTheForm()"></button>
      </div>
      <div class="modal-body" style="padding: 10px;">
        <form>
          <div class="mb-2" style="margin-bottom: 0;">
            <label style="padding-top: 0; padding-bottom: 3px;" for="recipient-code" class="col-form-label">Code:</label>
            <input type="text" class="form-control" id="recipient-code" style="padding: 3px;" [(ngModel)]="productCodeTerm" name="code">
          </div>
          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" style="padding: 3px;" [(ngModel)]="productNameTerm" name="name">
          </div>
          <div class="mb-2" style="margin-bottom: 0;">
            <label style="padding-top: 0; padding-bottom: 3px;" for="recipient-code" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="recipient-description" style="padding: 3px;" [(ngModel)]="productDescriptionTerm" name="description">
          </div>

          <div class="mb-2">
            <label style="padding-top: 0; padding-bottom: 3px" for="recipient-name" class="col-form-label">Category:</label>
            <select class="form-control" id="recipient-category" style="padding: 3px;" [(ngModel)]="productCategory" name="category">
              <option value="" disabled>Select the Category</option>
              <option *ngFor="let category of selectedProductCategory">
                {{ category.productCategoryName }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="padding: 5px;">
        <p style="color: #03C988; font-size: 15px; margin-left: 0;" [ngStyle]="{color:textColor}">{{showAfterCreated}}</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearTheForm()">Close</button>
        <button type="button" class="btn btn-primary"  (click)="saveData()">Save</button>
      </div>
    </div>
  </div>
</div>
