<app-logged-in-top-bar></app-logged-in-top-bar>
<app-side-nav-bar></app-side-nav-bar>
<div class="main-container">
  <div class="dummy-top-bar">

  </div>
  <h3 style="padding-bottom: 20px; padding-top: 20px;">Customer</h3>
  <div class="generate-report-bar">
    <p>Generate Report</p>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Excel</button>
      <button type="button" class="btn btn-outline-primary">PDF</button>
    </div>
  </div>
  <div class="create-new-and-search-bars">
    <div class="create-new-bar">
      <button type="button" class="btn btn-outline-primary">Create Customer</button>
    </div>
    <div class="search-customer">
      <p>Search</p>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Code" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <input type="text" class="form-control" placeholder="Name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <button type="button" class="btn btn-primary">Enter</button>
      </div>
    </div>
  </div>
</div>

<div class="show-customer-table">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckAll">
      </th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckOne">
      </th>
      <td>Cus01</td>
      <td>Mark Anthony</td>
      <td>0789936121</td>
      <td>chathumal100@gmail.com</td>
      <td>285/A, Batagama South, Kandana.</td>
      <td>09/29/2023</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>
</div>
